* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

#main {
    width: 100%;
    height: 26vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
    z-index: 1;
}

.logo img {
    height: 150px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: grey;
}

a {
    text-decoration: none;
}

.menu li a:hover {
    background-color: #23cdaf;
    color: white;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
}

.menu li a#active {
    background-color: #23cdaf;
    color: white;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
}

.imgg {
    height: 40%;
    width: 40%;
    margin-left: 100px;
    margin-bottom: 20px;
}

.content h1 {
    font-weight: bolder;
    color: gray;
    font-size: 2em;
}

.content p {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 50px;
}

#oimg {
    height: 35%;
    width: 35%;
}

.aligndiv {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

#content {
    border: 5px double red;
    margin: 20px;
    border-radius: 80px;
}

#hr {
    margin-bottom: 65px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: rgb(255, 169, 184);
    color: black;
    text-align: center;
    font-weight: bold;
}

footer > a {
    color: black;
    font-size: 12em;
}

footer > a:visited {
    color: black;
}
